<app-header></app-header>
<!-- Start Page Title Area -->
<div class="page-title-area bg-1">
  <div class="container">
    <div class="page-title-content">
      <h2>مدينة المنستير</h2>

      <ul>
        <li>
          <a [routerLink]="['/home']"> الإستقبال </a>
        </li>

        <li class="active">مدينة المنستير</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->
<!-- Stat Who We Are Area -->
<section class="who-we-are-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="who-we-are-img pr-15">
          <img src="assets/images/a.jpg" alt="Image" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="who-we-are-content pl-15">
          <span class="top-title">مدينة المنستير</span>
          <h2>تعريف المدينة</h2>

          <p>
            المنستير مدينة تونسية ومركز ولاية المنستير، تعد واحدة من أهم مدن
            تونس. تبعد 21 كم عن سوسة و80 كم عن القيروان و 160 كم عن تونس العاصمة
            يقطنها نحو نصف مليون ساكن، وهي منتجع سياحي بامتياز، ومركز تعليمي
            بارز. ظلت على مدى نصف قرن مدينة الوزراء والحكام في تونس، إذ كانت
            مسقط رأس الوزير الأكبر محمد الصالح مزالي زمن البايات و مسقط رأس أول
            رئيس للجمهورية التونسية الزعيم الحبيب بورقيبة. كانت المدينة مستعمرة
            فينيقية تعرف بروسبينا أسسها مهاجرون من صور في نهاية القرن السادس ق.م
            تحديدا في عام 509 ق.م حيث ورد ذكر المدينة في المعاهدة التي عقدت بين
            القرطاجيين والرومان في ذلك العام. وقد أتخذها يوليوس قيصر كقاعدة
            عسكرية له. يعتبر رباط المنستير أبرز معلم إسلامي في المدينة تراه من
            الكورنيش أسسه هرثمة بن الأعين سنة 80 هـ (796 م) في عهد الخليفة
            العباسي هارون الرشيد، ويعد أحد أعظم المعالم العسكرية الدفاعية. كان
            حراسه من المتطوعين لحراسة الثغور، ويعرفون في الأدبيات الإسلامية
            التاريخية بـ«المرابطين في سبيل الله». أدخلت على الرباط تحصينات كبيرة
            بين القرنين الـ15 والـ18. وترى من أعلى هرم في الرباط والبالغ ارتفاعه
            نحو 20 مترا منظراً عاماً لمدينة المنستير. كما تتراءى ملامح جزيرتي
            سيدي الغدامسي (نسبة لمدينة غدامس الليبية) والوستانية، وكذلك كهوف
            المنستير التاريخية التي تعود لأكثر من 3000 سنة المنحوتة فيها مدافن
            (حوانيت) في صخور مختلف الجزر ( الوسطانية و الغدامسي و الميدة.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Who We Are Area -->
