<!-- Start Banner Area -->
<section class="banner-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-content pr-15">
              <span class="top-title">إكتشف المدينة</span>
              <h1>بلدية المنستير</h1>

              <div class="slider-btn">
                <a [routerLink]="['/about']" class="default-btn">
                  تعرف على المدينة
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="banner-img pl-15">
              <img src="assets/images/image.jpg" />

              <div class="shape banner-shape-2">
                <img src="assets/images/banner/banner-shape-2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shape banner-shape-1">
    <img src="assets/images/banner/banner-shape-1.png" alt="Image" />
  </div>
</section>
<!-- End Banner Area -->
