<app-header></app-header>
<!-- Start Page Title Area -->
<div class="page-title-area bg-21">
  <div class="container">
    <div class="page-title-content">
      <h2>تفاصيل الحدث</h2>

      <ul>
        <li>
          <a [routerLink]="['/home']"> الاستقبال </a>
        </li>

        <li class="active">{{ data.title }}</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->
<!-- Start Event Details Area -->
<section class="event-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="event-content event-content-two">
          <div class="event-date">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6">
                <div class="single-annual">
                  <h4>نوع الحدث :</h4>
                  <span>Conference</span>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-annual">
                  <h4>تاريخ الحدث:</h4>
                  <span>{{ data.startDate }}</span>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-annual">
                  <h4>موقع الحدث:</h4>
                  <span> {{ data.location }}</span>
                </div>
              </div>
            </div>
          </div>

          <img src="{{ storageUrl }}{{ data.photo }}" alt="Image" />
        </div>

        <div class="event-content one">
          <h3>{{ data.title }}</h3>
        </div>

        <div class="event-content event-content-three">
          <p>
            {{ data.description }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="event-widget-sidebar">
          <div class="our-another-slider owl-theme">
            <div class="single-another" *ngFor="let e of events">
              <h3>اطلع أيضاً</h3>

              <div class="single-event-box another-content">
                <a href="event-details.html">
                  <img src="{{ storageUrl }}{{ e.photo }}" alt="Images" />
                </a>

                <div class="event-content">
                  <ul>
                    <li>
                      Conference
                      <span>{{ e.startDate }}</span>
                    </li>
                  </ul>
                  <h4>
                    <a href="event-details.html">
                      {{ e.title }}
                    </a>
                  </h4>
                  <p><i class="ri-map-pin-2-line"></i> {{ e.location }}</p>
                  <a href="event-details.html" class="read-more">
                    اقرأ أكثر
                    <i class="ri-arrow-right-s-line"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
